name: OpenMP test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./openmp

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        #    - name: Set up Clang
        #uses: egor-tensin/setup-clang@v1
        #with:
        #platform: x64
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
    - name: Build project
      run: |
        g++ main.cpp
    - name: Test algorithm
      run: |
        pytest
